extends ../config/template
append config
  -pageTitle = 'Home'
  -pageDescription = 'Pagina inicial de Andamios'
  -pageImage = 'https://thumbs.dreamstime.com/z/icono-del-vector-andamio-esquema-l%C3%ADnea-simple-negra-aislada-ejemplo-elemento-concepto-de-la-construcci%C3%B3n-y-las-herramientas-144276784.jpg'

block main
  include ../includes/main-menu
